extends layout


mixin list
    -for(let i = 0; i < folders.length; i++)
        a(href=`/folder/${folders[i].id}`) #{folders[i].name}


block content
  h1= title
  +list
  a(href="/create/folder") 
    button new folder
  a(href="/log-out") log out 