extends layout

block content
  h1= title
  form(method="post") 
      input(type="text" name="username")
      input(type="text" name="password")
      button Sign Up
      a(href="/log-in") log-in 
